.chat-side
  .chat-side-user
    .chat-side-user-left
      %h2= current_user.name
    .chat-side-user-right
      = link_to edit_user_path(current_user), class: "chat-side-user-right" do
        %i.fa.fa-cog
      = link_to new_group_path(@group), class: "chat-side-user-right" do
        %i.fa.fa-pencil-square-o
  %ul.chat-side-group
    %p チーム
    = render 'group'
