.chat-footer-input {
  position: relative;
  left: -97px;
  bottom: 0;
  padding: 20px 40px;
  background-color: #ddd;
  height: 50px;
  float: right;
  &__left {
    border: none;
   textarea {
    width: 952px;
    height: 50px;
    border :none;
    resize: none;
    font-size: 16px;
    line-height: 50px;
    padding-left: 10px;
   }
  }

  &__center {
    height: 50px;
    color: black;
    line-height: 50px;
    padding-right: 10px;
    position: absolute;
    left: 885px;
    top: 20px;
    margin-right: 10px
  }

  &__right {
    position: absolute;
    left: 127px;
    top: 45px;
  }

  .form {
    padding-top: 20px;
  }

  input {
    color: $whitest;
    background-color: #38AEF0;
    height: 50px;
    border: none;
    width: 84px;
    position: absolute;
    left: 791px;
    top: -25px;
  }
}
