.chat-main-input {
  @include clearfix;
  height: 90px;
  background-color: #999;
  padding: 0px 40px;

  &__left{
    float: left;
    border: none;
    position: relative;
    left: 13px;
    top: -26px;
  }

  &__center {
    height: 50px;
    color: black;
    float: left;
    background-color: white;
    line-height: 50px;
    padding-right: 10px;

  .center_tag{
    position: relative;
    top: -64px;
    right: -611px;
   }
  }

  &__right{
    float: right;
    position: relative;
    left:  -9px;
    top: -26px;

    .submitbox{
      color: white;
      background-color: #38aef0;
      height: 50px;
      width:80px;
      border: none;
      position: relative;
      top: -43px;
    }
  }

  form {
    padding-top: 20px;
  }

  .input_message {
    width:767px;
    height: 50px;
    border :none;
    resize: none;
    font-size: 16px;
    line-height: 50px;
    padding-left: 10px;
  }

}
