.chat-header {
  @include clearfix();
  // width: calc(100vw - 300px);
  height: 96px;
  padding: 0 40px;
  border-bottom: 1px solid #eee;
.chat-header--left  {
  float: left;
  &__name {
    font-size: 20px;
    color: #333;
    padding: 30px 10px 0 0;
    margin-left: 17px;
  }

  &__member {
    font-size: 12px;
    color: #999999;
    padding-bottom: 15px;
    padding-left: 19px;
  }
}

.chat-header--right {
    .edit-string {
      float: right;
      color: white;
      margin: 20px;
      background-color: #38aef0;
      width: 50px;
      text-decoration: none;
      text-align: center;
      padding: 16px;
    }
 }
}
