.chat-footer-input {
  position: relative;
  left: 0;
  bottom: 0;
  padding: 20px 40px;
  background-color: #ddd;
  height: 50px;

  &__left {
    border: none;
  }

  &__center {
    height: 50px;
    color: black;
    line-height: 50px;
    padding-right: 10px;
    position: absolute;
    left: 726px;
    top: 20px;
    margin-right: 10px
  }

  &__right {
    position: absolute;
    left: 792px;
    top: 45px;
  }

  .form {
    padding-top: 20px;
  }

  textarea {
    width:703px;
    height: 50px;
    border :none;
    resize: none;
    font-size: 16px;
    line-height: 50px;
    padding-left: 10px;
  }

  input {
    color: white;
    background-color: #38AEF0;
    height: 50px;
    border: none;
    width: 84px;
    position: absolute;
    left: -10px;
    top: -25px;
  }
}
