.chat-group-form {
  width: 980px;
  margin: 60px auto;
  padding: 40px;
  border-radius: 5px;
  box-sizing: border-box;
  height: 361px;

  h1 {
    letter-spacing: 2px;
    font-size: 24px;
    text-align: center;
  }

  .chat-group-form__errors {
    margin: 30px 0;
    padding: 20px 40px;
    border: 1px solid #ddd;
    border-radius: 2px;
    text-align: center;

    h2 {
      margin-bottom: 10px;
      color: #f05050;
      font-size: 14px;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    li {
      margin: 0;
      padding: 0;
      font-size: 13px;
    }
  }

  .chat-group-form__field {
    margin-top: 30px;

    .chat-group-form__field--left {
      float: left;
      width: 30%;
      padding-right: 20px;
      padding-left: 20px;
      box-sizing: border-box;
    }

    .chat-group-form__field--right {
      float: right;
      width: 70%;

      .chat-group-user__name {
        border-bottom: 1px solid #ddd;
      }
      .chat-group-user__add-button {
        color: #38aef0;
        position: relative;
        top: -23px;
        left: 593px;
      }

      .chat-group-user__delete-button {
        color: #f05050;
        position: relative;
        top: -23px;
        left: 593px;
      }

      p {
         padding: 8px;
         border-bottom: 1px solid #ddd;
      }
    }

    .chat-group-form__label {
      display: block;
      line-height: 50px;
      font-weight: bold;
      text-align: right;
    }

    .chat-group-form__input {
      float: left;
      width: 100%;
      line-height: 30px;
      padding: 10px 15px;
      box-sizing: border-box;
    }
  }

  .chat-group-user {
    padding: 0 15px;
    line-height: 50px;
    font-size: 24px;


    .chat-group-user__btn {
      float: right;
      display: inline-block;
      cursor: pointer;
      margin: 15px;

    }
  }

  .chat-group-form__action-btn {
    display: inline-block;
    color: $whitest;
    background-color: #38aef0;
    border: 0;
    margin-top: 14px;
    padding: 12px 20px;
  }
}
